<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>All products | Black store </title>
	<link rel="stylesheet" href="style/style.css">
	<link rel="icon" href="img/logos.png" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="heading">
	</div class="container">
		<div class="navbar">
			<div class="logo">
				<a href="/" ><img src="img/logo.png" width="125px"></a>
			</div>
			<nav>
				<ul>
					<li class="menu"><a href="/" >Home</a></li>
					<li class="menu"><a href="/product">product</a></li>
					<li class="menu"><a href="/contact">Contact</a></li>
					<li class="menu"><a href="/login">Account</a></li>

				</ul>
			</nav>
		</div>
				

	</div>
</div>


<div class="small-container c-page">

    <table>
        <tr>
            <th>Deliver Details</th>
            <th>payment Available</th>
        </tr>
		<tr>
			<td>
				<form>
				<input type="text" placeholder="Name" class="dd" required><br>
                <input type="text" placeholder="Address" class="dd" id="msg" required><br>
                <input type="number" placeholder="Mobile" class="dd" required>
			</td>
			<td class="pay">Mode of payment:<br>
				&nbsp;&nbsp;&nbsp;&nbsp;<b>Online</b> 
</td>
			
		</tr>
        </table>
    </div>
	<div class="btn-11">
		<button class="btn" type="submit" id="rzp-button1">Place Order</button>
	</div>
</form>


		<!--Footer-->
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="foot-1">
						<h3>Download our App</h3><br>
						<p>Download App for Android and IOS mobile phones.</p><br>
						<img src="img/app-store.png" class="app">
						<img src="img/play-store.png" class="app">
					</div>
					<div class="foot-2">
						<img src="img/logo1.png"><br>
						<p>Our purpose is to provide stylish and sustainable <br>clothing options to express their unique style</p>
					</div>
					<div class="foot-3">
						<h3>Follow us</h3><br>
						<ul>
							<li>Instagram</li>
							<li>FaceBook</li>
							<li>Youtube</li>
							<li>Twitter</li>
						
					</div>
				</div>
				<hr>
				<p class="cr">&#169;<br>Copyright 2023</p>
			</div>
		</div>
        <!--Js for form-->
		<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
		const transferredAmount = localStorage.getItem('checkoutAmount');
        var options = {
            "key": "rzp_test_oRLpQ2N5BwcwhZ",
            "amount": transferredAmount,
            "currency": "INR",
            "name": "Black Store",
            "description": "Payment for Test",
            "image": "img/logos.png",
            "handler": function (response) {
                alert('Payment Successful');
                console.log(response);
				window.location.href = "/order";
            },
            "prefill": {
                "name": "Test User",
                "email": "test@user.com",
                "contact": "9999999999"
            },
            "notes": {
                "address": "Test Address"
            },
            "theme": {
                "color": "#000000"
            }
        };
        var rzp1 = new Razorpay(options);
        document.getElementById('rzp-button1').onclick = function(e) {
            rzp1.open();
            e.preventDefault();
        }
		
    </script>
	<script>
		if (transferredAmount !== null) {
		  console.log('Transferred Amount:', checkoutAmount);
		  localStorage.removeItem('checkoutAmount');
		} else {
		  console.log('No transferred amount found.');
		}
	  </script>
</body>
</html>