<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
<link rel="stylesheet" href="style/style.css">
</head>
<body>
  <div class="heading">
	</div class="container">
		<div class="navbar">
			<div class="logo">
				<a href="index.html" ><img src="img/logo.png" width="125px"></a>
			</div>
			<nav>
				<ul>
					<li class="menu"><a href="index.html">Home</a></li>
					<li class="menu"><a href="#"  class="active">product</a></li>
					<li class="menu"><a href="contact.html">Contact</a></li>
					<li class="menu"><a href="login.html">Account</a></li>

				</ul>
			</nav>
		</div>
	</div>
</div>   
<div class="body">
  <div class="apps1">
   
    
      <div class="app-body">
        <section class="ov-sec">
          <h1>Welcome User</h1><br>
          </div>
          
          <div class="tiles">
            <article class="tile">
              <div class="tile-header">
                <i class="ph-lightning-light"></i>
                <h3>
                  <span class="card-head">Total Inventory Additions</span>
                </h3>
              </div>
              <span class="dis-val">3</span>
            </article>
            <article class="tile">
              <div class="tile-header">
                <i class="ph-fire-simple-light"></i>
                <h3>
                  <span class="card-head">Complete Product Profits</span>
                </h3>
              </div>
              <span class="dis-val">₹3500</span>
            </article>
            <a href="insert.html"><article class="tile" >
              <div class="tile-header">
                <i class="ph-file-light"></i>
                <h3>
                  <span class="card-head">Insert a New Item</span>
                </h3>
              </div>
              <span class="dis-val"><img src="img/jacket.png" width="120px" height="100px">
            </article></a>
          </div>
          <div class="ov-sec-foot">
            <p>Payment Varies According to Service Performed</p>
          </div>
        </section>
        <section class="add-sec">
          <div class="add-sec-head">
            <h2>Latest Addition</h2>
          </div>
          <div class="adds">
            <div class="add">
              <div class="add-logo">
                <img src="img/product-6.jpg" />
              </div>
              <dl class="add-details">
                <div>
                  <dt>Shadow Hokage Naruto</dt>
                  <dd>T-shirt</dd>
                </div>
                <div>
                  <dt>371</dt>
                  <dd>Quantity</dd>
                </div>
                <div>
                  <dt>28 Oct. 23</dt>
                  <dd>Date additon</dd>
                </div>
              </dl>
              <div class="add-num">
                ₹500
              </div>
            </div>
            <div class="add">
              <div class="add-logo">
                <img src="img/product-3.jpg" />
              </div>
              <dl class="add-details">
                <div>
                  <dt>Triumph Bullmer T-shirt</dt>
                  <dd>T-shirt</dd>
                </div>
                <div>
                  <dt>127</dt>
                  <dd>Quantity</dd>
                </div>
                <div>
                  <dt>26 Oct. 23</dt>
                  <dd>Date additon</dd>
                </div>
              </dl>
              <div class="add-num">
                ₹350
              </div>
            </div>
            <div class="add">
              <div class="add-logo">
                <img src="img/product-9.jpg"/>
              </div>
              <dl class="add-details">
                <div>
                  <dt>Monochrome Puma</dt>
                  <dd>Hoodie</dd>
                </div>
                <div>
                  <dt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;218</dt>
                  <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quantity</dd>
                </div>
                <div>
                  <dt>22 Oct. 23</dt>
                  <dd>Date additon</dd>
                </div>
              </dl>
              <div class="add-num">
                ₹500
              </div>
            </div>
          </div>
        </section>
      </div>
      
    </div>
  </div>
</div>
<!--Footer-->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="foot-1">
        <h3>Download our App</h3><br>
        <p>Download App for Android and IOS mobile phones.</p><br>
        <img src="img/app-store.png" class="app">
        <img src="img/play-store.png" class="app">
      </div>
      <div class="foot-2">
        <img src="img/logo1.png"><br>
        <p>Our purpose is to provide stylish and sustainable <br>clothing options to express their unique style</p>
      </div>
      <div class="foot-3">
        <h3>Follow us</h3><br>
        <ul>
          <li>Instagram</li>
          <li>FaceBook</li>
          <li>Youtube</li>
          <li>Twitter</li>
        
      </div>
    </div>
    <hr>
    <p class="cr">&#169;<br>Copyright 2023</p>
  </div>
</div>
</body>
</html>