<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Black store | E-commerce</title>
	<link rel="stylesheet" href="style/style.css">
	<link rel="icon" href="img/logos.png" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

<div class="heading">
	</div class="container">
		<div class="navbar">
			<div class="logo">
				<a href="/" ><img src="img/logo.png" width="125px"></a>
			</div>
			<nav>
				<ul>
					<li class="menu"><a href="/" class="active">Home</a></li>
					<li class="menu"><a href="/product">product</a></li>
					<li class="menu"><a href="/contact">Contact</a></li>
					<li class="menu"><a href="/login">Account</a></li>

				</ul>
			</nav>
		</div>
		<div class="row">
			<div class="col2">
				<div class="marquee-container">
					<div class="marquee">
						<h1 class="landline">Your style journey begins here,<br> where fashion meets innovation.</h1>
					</div>
				</div>
					<a href="/product" class="btn">Explore More  &#8594;</a>

			</div>
			<div class="col2 marquee">
				<img src="img/model.png" height="850px" class="indeximg">
			</div>
		</div>		

	</div>
</div>

<!-----Featured categories---->
	<div class="categories">
		<div class="small-container">
			<div class="row">
				<div class="col-3">
					<img src="img/category-1.jpg">
				</div>
				<div class="col-3">
					<img src="img/category-3.jpg">
				</div>
				<div class="col-3">
					<img src="img/category-2.jpg">
				</div>
			</div>
		</div>
	</div>
	<h2 class="tit">TOP SELLING PRODUCT</h2>
<!-----Top selling products---->	
	<div class="small-container">

		<div class="row">
			<div class="col-4"><a href="/product1" class="link">
				<img src="img/product-1.jpg">
				<h4>Mystic Midnight Edition</h4>
				<p>₹400</p></a>
			</div>
			<div class="col-4"><a href="/product11" class="link">
				<img src="img/product-11.jpg">
				<h4>Signature Brown T-Shirt</h4>
				<p>₹400</p></a>
			</div>
			<div class="col-4"><a href="/product4" class="link">
				<img src="img/product-4.jpg">
				<h4>Dynamic Batman T-shirt</h4>
				<p>₹400</p></a>
			</div>
			<div class="col-4"><a href="/product3" class="link">
				<img src="img/product-3.jpg">
				<h4>Triumph Bullmer T-shirt</h4>
				<p>₹350</p></a>
			</div>
		</div>
	</div>
<!-----offer----->
	<div class="container2">
		<div class="row" id="row1">
			<div class="col-2">
				<img src="img/tshirt1bg.png" class="offban"> 
			</div>
			<div class="col-2 spl">
				<p>Exclusively available in BLACK STORE</p>
				<h1>Vibrant Orange Delight: Limited Edition T-shirt</h1>
				<small>
					Elevate your wardrobe with our exclusive Vibrant Orange Delight T-shirt.
					<br> Make a bold fashion statement with this eye-catching orange tee that's perfect for any occasion. Hurry, it won't last long!"
					 
				</small><br>
				<a href="/product13" class="btn">BUY NOW  &#8594;</a>
			</div>
		</div>
	</div>
	<!-----Latest products---->
		<h2 class="tit" id="tit1">LATEST PRODUCT</h2>
		<div class="small-container">

			<div class="row">
				<div class="col-4"><a href="/product6" class="link">
					<img src="img/product-6.jpg">
					<h4>Shadow Hokage Naruto</h4>
					<p>₹500</p></a>
				</div>
				<div class="col-4"><a href="/product9" class="link">
					<img src="img/product-9.jpg">
					<h4>Monochrome Puma</h4>
					<p>₹500</p></a>
				</div>
				<div class="col-4"><a href="/product2" class="link">
					<img src="img/product-2.jpg">
					<h4>Chic Grey Sleeveless</h4>
					<p>₹239</p></a>
				</div>
				<div class="col-4"><a href="/product10" class="link">
					<img src="img/product-10.jpg">
					<h4>Striking Megumi Print</h4>
					<p>₹549</p></a>
				</div>
				<br>
				<div class="col-4"><a href="/product8" class="link">
					<img src="img/product-8.jpg">
					<h4>Black & red sport T-shirt</h4>
					<p>₹329</p></a>
				</div>
				<div class="col-4"><a href="/product5" class="link">
					<img src="img/product-5.jpg">
					<h4>Fresh & Crisp Strips</h4>
					<p>₹329</p></a>
				</div>
				<div class="col-4"><a href="/product7" class="link">
					<img src="img/product-7.jpg">
					<h4>Rustic Elegance Hoodie</h4>
					<p>₹549</p></a>
				</div>
				<div class="col-4"><a href="/product12" class="link">
					<img src="img/product-12.jpg">
					<h4>Urban Jungle Vibes</h4>
					<p>₹439</p></a>
				</div>
			</div>
		</div>
		<div class="reviewpart">
			<div class="small-container">
				<div class="row">
					<div class="col-4">
						<img src="img/user-3.png"><br>
						<h3>Sophia Johnson</h3>
						<p class="para">
							&#8220;<br>I'm delighted with my dress purchase from this website - it's both stylish and affordable.
							
						</p>
					</div>
					<div class="col-4">
						<img src="img/user-1.png"><br>
						<h3>Olivia</h3>
						<p class="para">
							&#8220;<br>Highly impressed with the dress quality
							 this site offers affordable elegance for any occasion
						</p>
					</div>
					<div class="col-4">
						<img src="img/user-2.png"><br>
						<h3>Matthew</h3>
						<p class="para">
							&#8220;<br>Outstanding selection and quality!
							 This website is my go-to for stylish dresses at unbeatable prices.
						</p>
					</div>
				</div>
			</div>
		</div>
		<!---brands-->
		<div class="brand">
			<div class="small-container">
				<div class="row">
					<div class="col-5">
						<img src="img/logo-oppo.png">
					</div>
					<div class="col-5">
						<img src="img/logo-coca-cola.png">
					</div>
					<div class="col-5">
						<img src="img/logo-godrej.png">
					</div>
					<div class="col-5">
						<img src="img/logo-philips.png">
					</div>
					<div class="col-5">
						<img src="img/logo-paypal.png">
					</div>
				</div>
			</div>

		</div>
		<!--Footer-->
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="foot-1">
						<h3>Download our App</h3><br>
						<p>Download App for Android and IOS mobile phones.</p><br>
						<img src="img/app-store.png" class="app">
						<img src="img/play-store.png" class="app">
					</div>
					<div class="foot-2">
						<img src="img/logo1.png"><br>
						<p>Our purpose is to provide stylish and sustainable <br>clothing options to express their unique style</p>
					</div>
					<div class="foot-3">
						<h3>Follow us</h3><br>
						<ul>
							<li>Instagram</li>
							<li>FaceBook</li>
							<li>Youtube</li>
							<li>Twitter</li>
						
					</div>
				</div>
				<hr>
				<p class="cr">&#169;<br>Copyright 2023</p>
			</div>
		</div>
</body>
</html>