<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>All products | Black store </title>
	<link rel="stylesheet" href="style/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="heading">
	</div class="container">
		<div class="navbar">
			<div class="logo">
				<a href="/" ><img src="img/logo.png" width="125px"></a>
			</div>
			<nav>
				<ul>
					<li class="menu"><a href="/" >Home</a></li>
					<li class="menu"><a href="/product">product</a></li>
					<li class="menu"><a href="/contact">Contact</a></li>
					<li class="menu"><a href="/login"  class="active">Account</a></li>

				</ul>
			</nav>
		</div>
				

	</div>
</div>


<div class="small-container o-page marquee ">
	<img src="img/ucons.png" height="400px" width="400px">
	<h2 class="emsg">Sorry for the inconvenience <span class="hl"><%=user.charAt(0).toUpperCase()+user.slice(1)%></span></h2>
<a href="/logout" class="btn btn-12">Logout</a>
    </div>

		<!--Footer-->
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="foot-1">
						<h3>Download our App</h3><br>
						<p>Download App for Android and IOS mobile phones.</p><br>
						<img src="img/app-store.png" class="app">
						<img src="img/play-store.png" class="app">
					</div>
					<div class="foot-2">
						<img src="img/logo1.png"><br>
						<p>Our purpose is to provide stylish and sustainable <br>clothing options to express their unique style</p>
					</div>
					<div class="foot-3">
						<h3>Follow us</h3><br>
						<ul>
							<li>Instagram</li>
							<li>FaceBook</li>
							<li>Youtube</li>
							<li>Twitter</li>
						
					</div>
				</div>
				<hr>
				<p class="cr">&#169;<br>Copyright 2023</p>
			</div>
		</div>
        <!--Js for form-->
</body>
</html>